@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");
body {
  background: radial-gradient(
      ellipse at center,
      rgba(135, 190, 70, 0.8) 60%,
      rgba(102, 141, 55, 0.6) 100%
    ),
    url(../assets/bg-seamless.jpg) repeat center;
  background-size: 100%, 200px 200px;
  /* Add the blur effect */

  display: flex;
  flex-direction: column;
}

.card-img {
  max-width: 50px;
  border: 1px solid red;
  margin: 0 5px 5px;
  border-radius: 5px;
  animation-name: resize;
  animation-duration: 1s;
}
@keyframes resize {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}

#table {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  border-radius: 35%;
  padding: 0 50px;

  background: radial-gradient(
      ellipse at center,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../assets/green-bg.jpg") center;
  background-size: 100% 100%, 200px 200px;

  box-shadow: inset 0 1px 0 5px #00000042, 0 0 0 6px #ffffff29,
    0 0 0 12px #5f1611;
}

.playerHand {
  text-align: center;
  h2 {
    margin: 15px;
    font-family: "Bree Serif", serif;
    .score {
      font-size: 16px !important;
    }
  }
}

#player-dealer {
  margin: 0;
}

#top {
  display: flex;
  justify-content: space-around;

  .playerHand {
    width: auto;
    height: 170px;
  }
}

#bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 0 35px 0;

  .playerHand {
    display: flex;
    flex-direction: column-reverse;

    width: 160px;
    height: 250px;
  }
}
