@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");
body {
  background: url(../assets/page-bg.jpg) no-repeat center;
  background-size: cover;
  /* Add the blur effect */

  display: flex;
  flex-direction: column;
}

.card-img {
  max-width: 50px;
  border: 1px solid red;
  margin: 0 5px 5px;
  border-radius: 5px;
  animation-name: resize;
  animation-duration: 1s;
}
@keyframes resize {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}

#table {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  border-radius: 120px;
  padding: 30px 50px 30px 50px;

  background: url("../assets/green-bg.jpg") center;
  background-size: 200px 200px;
}

.playerHand {
  text-align: center;
  width: 130px;
  h2 {
    margin: 15px;
    font-family: "Bree Serif", serif;

    .score {
      font-size: 16px !important;
    }
  }
}

#top {
  display: flex;
  justify-content: space-around;

  .playerHand {
    width: auto;
  }
}

#bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
